<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="projects-box">
                    <img src="img/projects/1.jpg" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Electronics hardware design
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="projects-box">
                    <img src="img/projects/2.jpg" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Software design
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="projects-box">
                    <img src="img/projects/3.jpg" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Release product
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="projects-box">
                    <img src="img/projects/4.jpg" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Analysis of customer needs
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="projects-box">
                    <img src="img/projects/5.jpg" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Business strategy
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="projects-box">
                    <img src="img/projects/6.jpg" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Work on the result
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
